
#logo-image{
	width:250px;
	height:100px;
	float:right;
}/* logo image at the top */

#logo-div{
	float:right;
	margin-right:10%;
	position:relative;
	z-index:-1;
}/* container for the logo image */
